[flake8]
max-line-length = 88
# Black-compatible options
extend-ignore = E203,W503

# Enforce all other errors
select = E,W,F,B,C

exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg,
    .venv,
    venv,
    node_modules,
