<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ttmp32gme - { $strippedTitle }</title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/assets/images/favicon.ico">
<!-- Bootstrap -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/fine-uploader-new.min.css" rel="stylesheet">
<link href="/assets/css/print.css" rel="stylesheet">
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/jquery.matchHeight-min.js"></script>
</head>

<body>
	<div class="container">
		<div id="wrap-all-print">{ $content }</div>
	</div>
</body>