<script type="text/javascript">
	var saveConfig = function() {
		var $id = $('#config');
		var configVars = getConfigValues($id);
		$.post('/filters', 'action=config&data=' + escape(JSON.stringify(configVars)))
				.done(function(data) {
					if (data.status === "Success.") {
						notify($('#config-save'), '', data.status, 'bg-success', 2000);
					} else {
						notify($('#config-save'), '', data.status, 'bg-danger', 4000);
					}
				}).fail(function(data) {
					notify($('#config-save'), '', 'Connection Error', 'bg-danger', 4000);
				});
	}

	var getConfigValues = function($id) {
		var filterVars = {};

		$id.find('input').not('ul.feed_list input').not(':button').each(function() {
			if ($(this).is(':checkbox')) {
				filterVars[this.name] = testCheckBox(this);
			} else {
				filterVars[this.name] = $(this).val();
			}
		});

		return filterVars;
	}

	var getConfig = function() {
		var filterVars = {};
		$.post('/filters',
				'action=getconfig&data=' + escape(JSON.stringify(filterVars)),
				function(data) {
					if (data.status === 'Success.') {
						var $id = $('#config');
						for ( var i in data.filter_conf) {
							fillInConfig($id, data.filter_conf[i]);
						}

					} else {
						notify($('#config-save'), '', data.status, 'bg-danger', 4000);
					}
				}, 'json').fail(function(data) {
			notify($('#config-save'), '', 'Connection Error', 'bg-danger', 4000);
		});
	}

	var fillInConfig = function($id, data) {

		for ( var i in data) {
			if (data[i] === 'TRUE' || data[i] === 'FALSE') {
				if (data[i] === 'TRUE') {
					$id.find('input[name=' + i + ']').prop('checked', true);
					if (i !== 'enabled') {
						$id.find('input[name=' + i + ']').change();
					}
				}
			} else {
				$id.find('input[name=' + i + ']').val(data[i]);
			}
		}
		$id.find('input[name=old_conf]').val(data.conf);
		$id.find('button').each(function() {
			$(this).data('item-id', $id);
		});
	}

	var listFeeds = function(callback) {
		$
				.post(
						'/feeds',
						'action=list',
						function(data) {
							if (data.status === 'Success.') {
								for ( var i in data.list) {
									var feed = '<li><input type="checkbox" value="' + data.list[i].url + '"> '
											+ data.list[i].url + '</li>';
									$('ul.feed_list').append(feed);
								}

								if (callback) {
									callback();
								}

							} else {
								notify($('#add'), '', data.status, 'bg-danger', 4000);
							}
						}, 'json').fail(function(data) {
					notify($('#add'), '', 'Connection Error', 'bg-danger', 4000);
				});
	}

	var getElementValues = function($id) {
		var filterVars = {};

		$id.find('input').not('ul.feed_list input').not(':button').each(function() {
			if ($(this).is(':checkbox')) {
				filterVars[this.name] = testCheckBox(this);
			} else {
				filterVars[this.name] = $(this).val();
			}
		});
		filterVars.feeds = function() {
			var feeds_checked = [];
			$id.find('ul.feed_list :checked').each(function() {
				feeds_checked.push($(this).val());
			});

			return JSON.stringify(feeds_checked);
		}();

		return filterVars;
	}

	var fillInElement = function($id, data) {
		if (data.tv_last !== "") {
			$id.find('td.filter-item span.item-title').text(
					data.title + " - Last Episode: " + data.tv_last);
		} else {
			$id.find('td.filter-item span.item-title').text(data.title);
		}
		for ( var i in data) {
			if (i === 'tv') {
				$id.find('input[name=' + i + ']').val(data[i]);
				if (data[i] === 'TRUE') {
					switchFilterType($id.find('.tv-filter a'));
				} else {
					switchFilterType($id.find('.movie-filter a'));
				}
			} else if (data[i] === 'TRUE' || data[i] === 'FALSE') {
				if (data[i] === 'TRUE') {
					$id.find('input[name=' + i + ']').prop('checked', true);
					if (i !== 'enabled') {
						$id.find('input[name=' + i + ']').change();
					}
				}
			} else if (i === 'feeds') {
				var feeds = JSON.parse(data[i]);
				$id.find('ul.feed_list input').each(function() {
					for ( var i in feeds) {
						if ($(this).val() === feeds[i]) {
							$(this).prop('checked', true);
							return;
						}
					}
				});
			} else {
				$id.find('input[name=' + i + ']').val(data[i]);
			}
		}
		$id.find('input[name=old_title]').val(data.title);
		$id.find('button').each(function() {
			$(this).data('item-id', $id);
		});
		$id.find('input').data('item-id', $id);
		$id.find('.filterswitch a').data('item-id', $id);
		var fields = $('#config').find('input[name=config_fields]').val().split(',');
		for (var i = 0; i < fields.length; i++) {
			checkAutoFilter($id,fields[i]);
		}
	}

	var checkAutoFilter = function($id, field) {
		var filter;
		if ($id.find('input[name=tv]').val() === 'TRUE') {
			value = getConfigValue($('#config').find('input[name=tv_'+ field + ']'), $id);
		} else {
			value = getConfigValue($('#config').find('input[name=movie_'+ field + ']'), $id);
		}
		if (typeof value === 'boolean') {
			if ($id.find('input[name='+ field + ']').prop('checked') !== value) {
				$id.find('input[name='+ field + ']').data('changed', true);
			} else {
				$id.find('input[name='+ field + ']').data('changed', false);
			}
		} else {
			if ($id.find('input[name='+ field + ']').val() !== value) {
				$id.find('input[name='+ field + ']').data('changed', true);
			} else {
				$id.find('input[name='+ field + ']').data('changed', false);
			}
		}
	}
	
	var autoFill = function($id) {
		var fields = $('#config').find('input[name=config_fields]').val().split(',');
		for (var i = 0; i < fields.length; i++) {
			autoFillField($id,fields[i]);
		}
	}

	var autoFillField = function($id, field) {
		if (typeof $id == 'undefined') {
			$id = $('#new-element-form');
		}
		var value;
		var regex;
		if ($id.find('input[name=tv]').val() === 'TRUE') {
			value = getConfigValue($('#config').find('input[name=tv_'+ field + ']'), $id);
		} else {
			value = getConfigValue($('#config').find('input[name=movie_'+ field + ']'), $id);
		}
		if (typeof value === 'boolean') {
			if (field.includes('regex')) {
				if (!$id.find('input[name='+ field.replace('regex','filter') + ']').data('changed')) {
					$id.find('input[name='+ field + ']').prop('checked',value);
				}
			} else if (!$id.find('input[name='+ field + ']').data('changed')) {
				$id.find('input[name='+ field + ']').prop('checked',value);
			}
		} else if (value !== '') {
			if ($id.find('input[name='+ field + ']').val() === ''
					|| !$id.find('input[name='+ field + ']').data('changed')) {
				$id.find('input[name='+ field + ']').val(value);
			}
		}
	}

	var getConfigValue = function($configInput, $targetId) {
		if ($configInput.attr('type') === 'checkbox') {
			return $configInput.prop('checked')
		} else {
			var filterStr = $configInput.val();
			if (filterStr) {
				var filter = filterStr.replace('%t', $targetId.find('input[name=title]').val());
				return filter;
			} else {
				return "";
			}
		}
	}

	var switchFilterType = function($id) {
		$id = $id.parent();
		$id.siblings().removeClass('active');
		$id.addClass('active');
		if ($id.hasClass('tv-filter')) {
			$id.parents('div.edit').find('input[name=tv]').val('TRUE');
			$id.parents('div.edit').find('div.tv_last').show();
			$id.parents('div.edit').find(':checkbox[name=stop_found]').prop('checked',
					false);
			$id.parents('div.edit').find('div.stop_found').hide();
		} else if ($id.hasClass('movie-filter')) {
			$id.parents('div.edit').find('input[name=tv]').val('FALSE');
			$id.parents('div.edit').find('div.tv_last').hide();
			$id.parents('div.edit').find('div.stop_found').show();
		} else if ($id.hasClass('tv-conf')) {
			$('#config').find('.movies').hide();
			$('#config').find('.tv').show();
		} else if ($id.hasClass('movie-conf')) {
			$('#config').find('.tv').hide();
			$('#config').find('.movies').show();
		}

	}

	var elementCount = 0;

	$(document).ready(
			function() {
				//fetch the configuration from the database
				getConfig();
				// Add tips for the new filter input
				$('[data-toggle="tooltip"]').tooltip();

				// Add event handlers for everything.  Most are delegated at the bubble-up stage.
				$('#filters').on(
						'change',
						':checkbox[name=stop_found]',
						function() {
							if (this.checked) {
								$(this).parents('div.edit').find(':checkbox[name=tv]:checked').each(
										function() {
											$(this).prop('checked', false);
											$(this).change();
										});
							}
						});
				$('#filters').on(
						'change',
						':checkbox[name=tv]',
						function() {
							$(this).parents('div.edit').find('div.tv_last').toggle();
							if (this.checked) {
								$(this).parents('div.edit').find(':checkbox[name=stop_found]').prop(
										'checked', false);
							}
						});
				$('#filters').on('change', ':checkbox[name=enabled]', function() {
					updateElement($(this).data('item-id'));
				});
				$('#filters').on('click', 'button.update', function() {
					updateElement($(this).data('item-id'));
					toggleShow($(this).data('item-id'));
				});
				$('#filters').on(
						'click',
						'button.delete',
						function() {
							deleteElement($(this).data('item-id'), $(this).data('item-id').find(
									'input[name=old_title]').val());
						});
				$('#filters').on('click', 'button.cancel', function() {
					toggleShow($(this).data('item-id'));
				});
				$('#filters').on('click', 'button.edit-button', function() {
					toggleShow($(this).data('item-id'));
				});
				$('#filters').on('change', 'input[name=title]', function() {
					autoFill($(this).data('item-id'));
				});
				$('#filters').on('change', 'input[name=filter1]', function() {
					$(this).data('changed', true);
				});
				$('#filters').on('click', '.filterswitch a', function() {
					switchFilterType($(this));
				});
				$('#add').click(function() {
					addElement();
				});
				$('#config-save').click(function() {
					saveConfig();
				});
				$('.movie-filter a').click();
				$('.movie-conf a').click();
				// Load the configuration

				// Grab the list of feeds, then grab the list of filters.
				listFeeds(function() {
					listElements(true);
					$('#new-element-form').find('ul.feed_list').find('input[type=checkbox]')
							.prop('checked', true);
				});
			});
</script>
<div class="row" id="filters">
	<div class="col-sm-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<table id="element-list" class="table table-striped">
					<thead>
						<tr>
							<th style="white-space: nowrap;">Enable</th>
							<th style="width: 99%;">Filter</th>
							<th style="white-space: nowrap;">Edit</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" href="#config">Filter configuration</a>
					</h4>
				</div>
				<div id="config" class="panel-collapse collapse">
					<div class="panel-body">
						<ul class="nav nav-tabs nav-justified">
							<li class="filterswitch movie-conf" class="active"><a>Movies</a></li>
							<li class="filterswitch tv-conf"><a>TV series</a></li>
						</ul>
						<p>Here you can define default values that will be automatically inserted into the respective fields of a filter. Empty values will be ignored.
							%t will be replaced with the filter title.</p>
						<input type="hidden" name="old_conf" value="default">
						<input type="hidden" name="config_fields">
						<div class="form-group movies">
							<label for="movie_filter1">Filter 1:</label> &nbsp;&nbsp;
							<div class="input-group">
								<input type="text" name="movie_filter1" class="form-control" data-toggle="tooltip"
									data-placement="left"
									title="Default expression for movie filter 1.  %t will be automatically replaced with the filter title.">
								<span class="input-group-addon"> <input type="checkbox"
									name="movie_regex1"> Regex?
								</span>
							</div>
						</div>
						<div class="form-group movies">
							<label for="movie_filter2">Filter 2:</label> &nbsp;&nbsp;
							<div class="input-group">
								<input type="text" name="movie_filter2" class="form-control" data-toggle="tooltip"
									data-placement="left"
									title="Default expression for movie filter 2.  %t will be automatically replaced with the filter title.">
								<span class="input-group-addon"> <input type="checkbox"
									name="movie_regex2"> Regex?
								</span>
							</div>
						</div>
						<div class="form-group movies" style="display: none;">
							<label for="movie_path">Default Save Path:</label> <input type="text"
								name="movie_path" class="form-control" data-toggle="tooltip"
								data-placement="left"
								title="Default expression for TV shows. %t will be automatically replaced with the filter title.">
						</div>
						<div class="form-group tv" style="display: none;">
							<label for="tv_filter1">Filter 1:</label>
							<div class="input-group">
								<input type="text" name="tv_filter1" class="form-control" data-toggle="tooltip"
									data-placement="left"
									title="Default expression for TV show filter 1. %t will be automatically replaced with the filter title.">
								<span class="input-group-addon"> <input type="checkbox"
									name="tv_regex1"> Regex?
								</span>
							</div>
						</div>
						<div class="form-group tv" style="display: none;">
							<label for="tv_filter2">Filter 2:</label>
							<div class="input-group">
								<input type="text" name="tv_filter2" class="form-control" data-toggle="tooltip"
									data-placement="left"
									title="Default expression for TV show filter 2. %t will be automatically replaced with the filter title.">
								<span class="input-group-addon"> <input type="checkbox"
									name="tv_regex2"> Regex?
								</span>
							</div>
						</div>
						<div class="form-group tv" style="display: none;">
							<label for="tv_path">Default Save Path:</label> <input type="text" name="tv_path"
								class="form-control" data-toggle="tooltip" data-placement="left"
								title="Default save path for TV shows. %t will be automatically replaced with the filter title.">
						</div>
						<button type="button" id="config-save" class="btn btn-primary"
							data-toggle="popover">Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default edit">
			<div class="panel-heading">
				<h4 class="panel-title">Add a new filter:</h4>
			</div>
			<div id="new-element-form" class="panel-body">
				<ul class="nav nav-tabs nav-justified">
					<li class="filterswitch movie-filter" class="active"><a>Movies</a></li>
					<li class="filterswitch tv-filter"><a>TV series</a></li>
				</ul>
				<input type="hidden" name="tv" value="FALSE">
				<div class="form-group">
					<label for="title">Title:</label> <input type="text" name="title"
						class="form-control" data-toggle="tooltip" data-placement="left"
						title="The filter title must be unique.">
				</div>
				<div class="form-group">
					<label for="filter1">Filter 1:</label>
					<div class="input-group">
						<input type="text" name="filter1" class="form-control" data-toggle="tooltip"
							data-placement="left"
							title="You should be as specific as possible.  While a blank filter is permissible, you will match EVERY link entry in an RSS feed.">
						<span class="input-group-addon"> <input type="checkbox" name="regex1">
							Regex?
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="filter2">Filter 2:</label>
					<div class="input-group">
						<input type="text" name="filter2" class="form-control" data-toggle="tooltip"
							data-placement="left"
							title="This filter is used as a secondary check if the feed is set to 'follow links'.  When the link is loaded, the page is searched for this term.  Typical use case could be an IMDB link to make sure you have the right movie.">
						<span class="input-group-addon"> <input type="checkbox" name="regex2">
							Regex?
						</span>
					</div>
				</div>
				<div class="form-group tv_last" style="display: none;">
					<label for="tv_last">Last downloaded episode:</label> <input type="text"
						name="tv_last" class="form-control" data-toggle="tooltip" data-placement="left"
						title="This field should be either a season and episode number (formatted as 'S01E01') or a date (formatted as '2010/10/30').  TV episodes that come after the designated 'last' will be downloaded. Optional.">
				</div>
				<div class="form-group">
					<label for="tv_last">Save Path:</label> <input type="text"
						name="path" class="form-control" data-toggle="tooltip" data-placement="left"
						title="This is the path where jDownloader will save the file once downloaded.">
				</div>
				<div class="form-group">
					<label>Feeds:</label>
					<ul class="feed_list" style="list-style: none;"></ul>
				</div>
				<div class="form-group">
					<label for="link_types">Link Types:</label> <input type="text" name="link_types"
						class="form-control" data-toggle="tooltip" data-placement="left"
						title="This field is to override the default link types to use in the <a href='/linktypes'>Link Types list</a>.  If the field is used, multiple types must be | delimited.  For example: megaupload|hotfile">
				</div>
				<div class="checkbox stop_found">
					<label><input type="checkbox" name="stop_found" data-toggle="tooltip"
						data-placement="left" checked
						title="Does exactly what it says.  If there is a positive match, and links are found this filter will be disabled.">
						Disable when found? </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="autostart" data-toggle="tooltip"
						data-placement="left" checked
						title="All matching links will be added to the linkgrabber.  If this is checked, they will also be downloaded.">
						Auto start in jDownloader? </label>
				</div>
				<button type="button" id="add" class="btn btn-primary" data-toggle="popover">Add
					filter</button>
			</div>
		</div>
	</div>
</div>
<table style="display: none;">
	<tr id="element-template" style="display: none;">
		<td><input type="checkbox" name="enabled"></td>
		<td class="filter-item"><span class="item-title"></span>
			<div class="panel panel-default edit" style="display: none;">
				<div class="panel-heading">
					<h4 class="panel-title">Edit filter:</h4>
				</div>
				<div id="new-feed-form" class="panel-body">
					<ul class="nav nav-tabs nav-justified">
						<li class="filterswitch movie-filter" class="active"><a>Movies</a></li>
						<li class="filterswitch tv-filter"><a>TV series</a></li>
					</ul>
					<input type="hidden" name="tv" value="FALSE">
					<div class="form-group">
						<label for="title">Title:</label> <input type="text" name="title"
							class="form-control"><input type="hidden" name="old_title" value="">
					</div>
					<div class="form-group">
						<label for="filter1">Filter 1:</label>
						<div class="input-group">
							<input type="text" name="filter1" class="form-control"> <span
								class="input-group-addon"> <input type="checkbox" name="regex1">
								Regex?
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="filter2">Filter 2:</label>
						<div class="input-group">
							<input type="text" name="filter2" class="form-control"> <span
								class="input-group-addon"> <input type="checkbox" name="regex2">
								Regex?
							</span>
						</div>
					</div>
					<div class="form-group tv_last" style="display: none;">
						<label for="tv_last">Last downloaded episode:</label> <input type="text"
							name="tv_last" class="form-control">
					</div>
					<div class="form-group">
						<label for="tv_last">Save Path:</label> <input type="text" name="path"
							class="form-control">
					</div>
					<div class="form-group">
						<label>Feeds:</label>
						<ul class="feed_list" style="list-style: none;"></ul>
					</div>
					<div class="form-group">
						<label for="link_types">Link Types:</label> <input type="text"
							name="link_types" class="form-control">
					</div>
					<div class="checkbox stop_found">
						<label><input type="checkbox" name="stop_found"> Disable when
							found? </label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="autostart"> Auto start in
							jDownloader? </label>
					</div>
					<div class="btn-group" role="group" aria-label="save cancel delete button group">
						<button type="button" class="btn btn-primary update">Update</button>
						<button type="button" class="btn btn-danger delete">Delete</button>
						<button type="button" class="btn btn-info cancel">Cancel</button>
					</div>
				</div>
			</div></td>
		<td>
			<button type="button" class="btn btn-info edit-button" data-placement="top">Edit</button>
		</td>
	</tr>
</table>
