@page {
	size: A4;
	margin: 0.5in;
}

.img-6mm {
	max-width: 36px !important;
	min-width: 36px !important;
	max-height: 36px !important;
	min-height: 36px !important;
}

.img-18mm {
	max-width: 103px !important;
	min-width: 103px !important;
	max-height: 103px !important;
	min-height: 103px !important;
}

.img-24mm {
	max-width: 138px !important;
	min-width: 138px !important;
	max-height: 138px !important;
	min-height: 138px !important;
}

.track-img-container {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-right: 10px;
	overflow: hidden;
}
.track-title {
	width: 100%;
	max-width: 0;
}
.runtime {
	padding-left: 10px;
}

.play-img {
	position: absolute;
	left: 0px;
	top: 0px;
}

.power-on {
	position: absolute;
	width: 103px;
	height: 103px;
	left: 15px;
	top: 0px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 1000px #ffffff;
	font-size: 90px;
	z-index: 1000;
	border-radius: 51px;
	overflow: hidden;
	text-align: center;
}

.power-on-inline {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.play-control {
	padding: 17px 25px !important;
	overflow: hidden;
	background-color: #ffffff !important;
}

.album-controls {
	margin: 5px 0px;    
	position: sticky;
    left: 0;
    bottom: 0;
}

.track-list>.list-group-item {
	padding: 5px 10px;
}

.cover-img {
	width: 100%;
}

#general-controls, .album {
	page-break-inside: avoid;
}


@media print {
	/* make sure the responsiveness of bootstrap does not mess up our print layout.
	a4 usable page width with 0.5 in margins (default for firefox where it is not changable) is
	184.503mm/25.4*72*2 =1046 -2 (for borders) = 1044 thus our overall scale is 56.692845103 pixel per cm */
	.container {
		width: 1044px;
	}
}

@-moz-document url-prefix() {
	@media print {
		/* firefox scales a little bit different than chrome. Hence we override the container width for firefox here */
		.container {
			width: 1036px;
		}
}
}