@page {
	size: A4;
}

.img-6mm {
	max-width: 36px !important;
	min-width: 36px !important;
	max-height: 36px !important;
	min-height: 36px !important;
}

.track-img {
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-right: 10px;
}

.img-18mm {
	max-width: 102px !important;
	min-width: 102px !important;
	max-height: 102px !important;
	min-height: 102px !important;
}

.play-img {
	position: absolute;
	left: 0px;
	top: 0px;
}

.power-on {
	position: absolute;
	width: 81px;
	height: 81px;
	left: 15px;
	top: 0px;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 1000px #ffffff;
	font-size: 68px;
	z-index: 1000;
	border-radius: 100px;
	overflow: hidden;
	text-align: center;
}

.play-control {
	padding: 17px !important;
	overflow: hidden;
}

.album-controls {
	margin: 5px 0px;
}

.track-list>.list-group-item {
	padding:5px 10px;
} 